header {
	position: fixed;
	width: 100%;
	height: 20px;
	left: 0px;
	top: 0px;
	right: 0px;
	background-color: lightgrey;
	padding: 10px;

}


.navlink-left {
	position: absolute;
	left: 15px;
	color: black;
	text-decoration: none;
	
}

.navlinks-right {
	position: absolute;
    right: 15px;
    margin-right: 15px;

}

.navlink2 {
	margin-right: 10px;
	text-decoration: none;
}

.navlink3 {
	text-decoration: none;
}

.search-section {
	position: absolute;
	left: 100px;
}

label {
	display: block;
	margin-top: 80px;
	margin-bottom: 8px;
}

.search-section input {
	margin-top: -22px;

}

.search-section .search-button {
	width: 37px;
}

.magnifying-glass-icon {
	top: 117px;
    left: 166px;
	position: absolute;
}

.pages {
	position: absolute;
	left:100px;
	top: 165px;
}

.pages-button {
	border: 1px solid grey;
    padding: 5px;
    border-radius: 8%;
}

.pages-display {
	border: 1px solid grey;
    padding: 5px;
}

.listings {
	list-style-type: none;
}

main {
	position: absolute;
    top: 200px;
    left: 60px;
}

.listing-title {
	font-weight:bold;
	text-decoration: none;
	margin-left: 8px;
	margin-right: 8px;
}

.listing-date, .listing-location {
	color: #999;
}